body {
	background-color: #99B9DF;
	font: 13px Verdana,Helvetica,Arial;
	margin: auto;
	width: 700px
}
p {
	margin-top: 0
}
a {
	text-decoration: none
}
table {
	background-color: #9CA497;
	margin-bottom: 12px;
	width: 700px
}
th, h2 {
	background-color: #DDE9DC;
	text-align: center
}
#box {
	border: 1px solid #7C8477;
	padding: 7px;
}
#buttons {
	text-align: center;
	margin: 12px 0 2px 0;
}
input:focus {
	color: blue;
	background-color: lightyellow
}
input[title], label[title] {
	cursor: help
}
legend {
	color: navy;
	font-weight: bold;
	text-transform: uppercase;
}
fieldset {
	padding: 8px
}
label {
	display: block;
	padding: 3px;
	cursor: pointer
}
fieldset label {
	margin: 7px;
}
label input {
	vertical-align: bottom;
	width: 20px;
	margin: 0;
}
label span
{
	display: block;
	margin: 2px 0 0 25px
}
label:hover {
	background-color: lightyellow
}
h2 {
	margin-bottom: 0;
	font: bold 13px Verdana;
	border: 1px solid #7C8477;
	border-bottom: 0
}
noscript {
	background-color: #ffff80;
	border: 1px solid #a4a262;
	display: block;
	padding: 5px;
	margin: 9px 0
}
td,th,h2 {padding: 5px}
tbody, #box {background-color: #EDF0F1}
small {font-size: 11px}
pre {overflow: auto; width: 100%; color: red}