.rate {
	background: url(../../img/icon/star.png) right 0 repeat-x;
	position: relative;
	width: 80px;
	height: 16px;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}
.rate input {
	display: inline;
	text-indent: -99px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	background: transparent;
	border: 0;
}
.rate.by
{
	display: inline-block;
	vertical-align: text-top
}
.rate input:hover,
.rate input:active,
.rate input:focus {
	background: url(../../img/icon/star.png) left 0 repeat-x;
}
.rate .r1 {
	width: 16px;
	z-index: 6;
}
.rate .r2 {
	width: 32px;
	z-index: 5;
}
.rate .r3 {
	width: 48px;
	z-index: 4;
}
.rate .r4 {
	width: 64px;
	z-index: 3;
}
.rate .r5 {
	width: 80px;
	z-index: 2;
}
.avg1 {
	background: url(../../img/icon/star.png) -64px 0 repeat-x;
}
.avg2 {
	background: url(../../img/icon/star.png) -48px 0 repeat-x;
}
.avg3 {
	background: url(../../img/icon/star.png) -32px 0 repeat-x;
}
.avg4 {
	background: url(../../img/icon/star.png) -16px 0 repeat-x;
}
.avg5 {
	background: url(../../img/icon/star.png) repeat-x;
}
.rate:hover {
	background: url(../../img/icon/star.png) right 0 repeat-x;
}